/* resources/js/components/CircularGallery.css */
.circular-gallery {
  position: relative;
  width: 100%;
  height: 400px; /* Sesuaikan tinggi yang diinginkan */
  overflow: hidden;
  cursor: grab;
  margin-top: -250px;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  display: block;
  width: 100%;
  height: 100%;
}